@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


$primary-color: #444;

$secondary-color: #eece1a;


$show-image: true;

$home-bg: url("../img/backgroud.jpg");

$opacity-bg: 0.7;

@mixin transit {
    transition: all 0.7s ease-out;
}

@mixin bg {
    @if $show-image {
        &#bg-img {
            background: $home-bg;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $opacity-bg);                
            }
        }
    }
}